# Set Database Location and Type
# For MySQL Connections add ?charset=utf8mb4 for full Unicode Support
dbLocation = 'mysql+pymysql://osp:sqlpass@localhost/osp?charset=utf8mb4'

# Flask Secret Key
secretKey="CHANGEME"

# Password Salt Value
passwordSalt="CHANGEME"

# Enables Debug Mode
debugMode = False

# EJabberD Configuration
ejabberdAdmin = "admin"
ejabberdPass = "CHANGE_EJABBERD_PASS"
ejabberdHost = "localhost"
#ejabberdServer ="127.0.0.1"